{% load static %}
<!DOCTYPE html>
<html>
<head>
    <a href="{% url 'slot_config' %}" class="dashboard-button">Configure Test Slots</a>
    <title>Confirmed Bookings</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="logo-section">
    <img src="{% static 'img/ntsa-logo.png' %}" class="logo-img" alt="Logo">
</div>

<div class="page-wrapper">
    <div class="login-container" style="max-width: 1000px;">
        <h1>Confirmed Bookings</h1>

        {% if bookings %}
        <table style="width: 100%; border-collapse: collapse;">
            <tr style="background-color: #007A33; color: white;">
                <th>Name</th>
                <th>ID</th>
                <th>Gender</th>
                <th>License</th>
                <th>School</th>
                <th>Test Center</th>
                <th>Time</th>
                <th>Amount</th>
            </tr>
            {% for b in bookings %}
            <tr style="border-bottom: 1px solid #ddd;">
                <td>{{ b.full_name }}</td>
                <td>{{ b.id_number }}</td>
                <td>{{ b.gender }}</td>
                <td>{{ b.license_type }}</td>
                <td>{{ b.driving_school }}</td>
                <td>{{ b.test_slot.test_center.name }}</td>
                <td>{{ b.test_slot.date }} {{ b.test_slot.time_range }}</td>
                <td>
                    {% if b.payment %}
                        KES {{ b.payment.amount }}
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No confirmed bookings yet.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
